body {
  font-family: sans-serif;
}

/*body {
    font-family: sans-serif;
}*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background: linear-gradient(to bottom, #d4a198, #b3756a);
  background-repeat: no-repeat;
}

main {
  position: relative;
  bottom: 35px;
}

h1 {
  font-family: 'Paytone One';
  font-weight: 100;
}

h2 {
  font-family: 'Montserrat';
  position: relative;
  bottom: 25px;
}

h1,
h2 {
  color: white;
  text-align: center;
}

nav a {
  color: white;
  font-size: 14px;
  font-family: 'Montserrat';
  text-decoration: none;
  font-weight: 500;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 27px;
  padding-right: 27px;
  background-color: #dab6b0;
  border-radius: 15px;
  transition: background-color 0.5s linear;
}

nav {
  display: flex;
  gap: 15px;
  justify-content: center;
  position: relative;
  bottom: 35px;
}

nav a:hover {
  background-color: #ebc2bc;
}

.text1 {
  padding-left: 10px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 35px;
}

.fontStyle {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin: 0;
}

td {
  padding: 10px;
  font-family: 'Montserrat';
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  color: #36281f;
  background-color: #efead8;
}

table {
  border-spacing: 8px;
  position: relative;
  bottom: 35px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 35px;
  position: relative;
  top: 3px;
  object-fit: cover;
  overflow: hidden;
}

/*.containerLeaf{
  display: flex;
  align-items: center;
  gap: 1px;
  margin: 0px;
}

.containerLeaf img {
    /* width: 150px;
    height: auto;
}
*/
.containerQuestions {
  display: flex;
  align-items: center;
  gap: 1px;
}

.containerQuestions img {
  /* width: 150px; */
  height: auto;
}

.containerRestriction {
  display: flex;
  align-items: center;
  gap: 1px;
}

.containerRestriction img {
  width: 28px;
  height: auto;
}

li {
  margin-left: 15px;
  padding: 15px;
  /*margin-bottom: 15px;*/
}

/* ul, li {
  margin: 15px;
} */
@media (max-width: 708px) {
  td:nth-of-type(3) {
    display: none;
  }
}

td {
  padding: 10px;
  font-family: 'Montserrat';
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  color: #36281f;
  background-color: #efead8;
}

.footer {
  padding: 15px;
  background-color: #daada5;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 20px;
  position: relative;
  bottom: 35px;
}

footer p {
  padding-left: 10px;
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

p span {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 600;
}

.containerQuestions {
  margin-top: 15px;
}

.infoCompany {
}

.card-buy {
  /*background-color: white;*/
  width: 250px;
  height: 300px;
  border-radius: 12px;
  outline: 2px solid #36281f;
  background-image: linear-gradient(white, #fcebeb);
  box-shadow: inset 0 0 100px 10px #ffb2b2cc;
  text-align: center;

  padding-top: 20px;
}

.gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-buy p {
  color: #36281f;
  text-align: center;
  font-family: 'Montserrat';
}

.message {
  position: fixed;
  background-color: #36281f;
  padding: 10px;
  display: none;
}

.secondButton {
  position: fixed;
}

.buy {
  background-color: #ff7070;
  color: #36281f;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  /* display: flex; */
  justify-content: center;
  transition: ease-in-out 0.3s;

  display: inline;
  padding: 3px 10px;
}

.buy img {
}

.card-buy img {
  align-items: center;
  width: 180px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

.buy:hover {
  font-size: 22px;
  background-color: #fd5959;
}
