body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(0, 157, 255);
}
header {
  background-image: linear-gradient(rgb(230, 0, 251), rgb(162, 255, 0));
}
h2 {
  text-align: center;
  font-size: 50px;
  color: rgb(0, 174, 255);
}
.Apple img {
  width: 200px;
  height: 290px;
}
html {
  background-image: linear-gradient(rgb(255, 0, 255), rgb(162, 255, 0));
}
main {
  background-image: linear-gradient(rgb(189, 254, 135), rgb(162, 255, 0));
}
