body {
  font-family: sans-serif;
}
body {
  margin: 0;
  background: linear-gradient(to bottom, black, purple);
  color: white;
  font-family: Arial;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  position: relative;
}

.hero h1 {
  font-size: 70px;
  margin: 0;
  letter-spacing: 5px;
}

.subtitle {
  font-size: 20px;
  color: #ff99ff;
}

.content {
  width: 80%;
  margin: auto;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  padding: 25px;
  margin: 30px 0;
  border-radius: 20px;
}

.card:hover {
  background: #ff66cc;
  transform: scale(1.03);
}

.button-box {
  text-align: center;
  margin: 40px 0;
}

.button-box a {
  background: #ff66cc;
  padding: 15px 30px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.button-box a:hover {
  background: white;
  color: black;
}

.button-box a:visited {
  background: #993366;
}
